<?xml version="1.0"?>
<!-- Original spinal/rosserial real-machine description. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crobat">
  <xacro:arg name="base_mass" default="0.0566" />
  <xacro:arg name="battery_mass" default="0.021" />
  <xacro:arg name="fc_xyz" default="0.000 0.01575 0.14778" />
  <xacro:arg name="fc_rpy" default="0 0 0" />
  <xacro:include filename="$(find crobat)/urdf/full_actuated.urdf.xacro" />
</robot>
