<launch>
  <!-- Deprecated compatibility entry point. Use radxa.launch. -->
  <arg name="config" default="$(find radxa)/config/cubie_a7z.yaml"/>
  <arg name="namespace" default=""/>
  <arg name="imu_zero_on_startup" default="true"/>
  <arg name="imu_zero_duration_sec" default="3.0"/>
  <include file="$(find radxa)/launch/radxa.launch">
    <arg name="config" value="$(arg config)"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="imu_zero_on_startup" value="$(arg imu_zero_on_startup)"/>
    <arg name="imu_zero_duration_sec" value="$(arg imu_zero_duration_sec)"/>
  </include>
</launch>
